
*{margin: 0;

}


h1 {
    color: #fffeff;

}

header {
    background: #67a7a4;
    padding: 5px 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

header .menu {
display: flex;
margin-right: 0;

}

nav {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin: 0 0 0 15px;
    font-size: 18px;



}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

#banner {
    height: 300px;
    width: 100%;

}



.principal {
    background: #67a7a4;
    padding: 30px;
    text-align: center;
    color: #1a1517;
    font-size: 20px;
}


#missao {
    font-size: 20px
}

#bth {
    font-size: 25px;
    color: #1a1517
}

em strong {
    font-size: 25px;
    color: #1a1517
}


h2 {
    color: #1a1517;
    text-align: center
}

ul {
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 12%;
    color: #fffeff
}

.EQUIPE {
    background: #061421;
    padding: 20px;

}

.imagem2 {
    width: 30%;
    border: 5px solid;
    border-radius: 100px;
    color: #fffeff;
    height: 400px;

}