

h1 {

    font-size: 2em;
    font-weight: bold;
    color: #fffeff;

}

.headder {
    background: #67a7a4;
    padding: 5px 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav {
    display: flex;  
}

nav li {

    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;

}

.fotos{ margin: 0 auto;
    width: 500px;
  
  }

.fotos li{display: inline-block;
}
img{ }